/*
    black
    #060a1c
    #121936
    #1e2447
    #0c217c
    #334399

    #a3a5ab
    #dedee3
    white
*/
p{
    margin:0px;
}

body{
    background-color: #121936;
    color:#dedee3;
}

#header{
    width:100%;
    padding:20px;
    background-color: #1e2447;
    border-radius: 10px;
    display: grid;
    box-sizing: border-box;
}
#main{
    padding:10px;
}
#mainGrid{
    display:grid;
    width:100%;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
#loginButton{
    justify-self: center;
}
#loginTitle h3{
    justify-self: center;
} 
input{
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 40px;
    background-color: #334399;
    border: 2px solid #0c217c;
    border-radius: 8px;
    color: white;
    padding: 0px 10px;
    font-size: 16px;
}
#adminCalendarSettingsPanel, #adminSlotCreationPanel, #adminModuleCreationPanel, #loginPanel{
    background-color:#1e2447 ;
    height:500px;
    justify-content: center;
    display:none;
    padding:10px;
    border-radius: 10px;
    position: absolute;
    z-index: 11;
    justify-self: center;
    top:200px;
}
#adminCalendarSettingsPanel, #adminSlotCreationPanel, #loginPanel{
    width:200px;
}
#darkenedSite{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display:none;
    width: 100%;
    height: 100000px;
}
#submitCalendarSettingsButton{
    justify-self: center;
}
#mainCalendar{
    margin:40px;
    justify-self: center;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr ;
    width:90%;
    height:800px;
    position: relative;
}


.calendarTimeSlot::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: var(--calendarColumnsWidth, 1000px);
    border-top: 1px solid rgba(255, 255, 255, 1);
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
}
#calendarDateRow{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    width:100%;
    padding:10px;
    height:100%;
    background-color: red;
    box-sizing: border-box;
}
#calendarMonth{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    font-size: 40px;
    width:100%;
    height:100%;
    background-color: green;
}
#calendarTimeColumn{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    width:100%;
    height:100%;
    background-color: yellow;
}
.calendarTimeSlot{
    color: purple;
    font-size: 25px;
    justify-self: right;
    align-self: center;
    position: relative;
    display: block;
    padding-right: 10px;
}
#calendarColumns{
    justify-self: center;
    align-self: center;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    width:100%;
    height:100%;
    background-color: orange;
}
.calendarColumn{
    width:100%;
    height:100%;
    background-color: pink;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    position: relative;
}
.calendarDaySlot{
    background-color: pink;
    font-size: 40px;
    color: red;
    justify-self: center;
    align-self: center;
    
}
.CalendarSlot{
    width:100%;
    background-color: orangered;
    position: absolute;
    z-index: 2;
    display:flex;
    flex-wrap: nowrap;
    border:0px;
    padding:0px
}
.calendarDayNumber{
    font-size: 27px;
    color: red;
    justify-self: center;
    align-self: center;
}
.calendarModule{
    height:100%;
    width:100%;
    background-color: #0c217c;
    border-radius: 10px;
}